@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");

:root {
  --Red: hsl(0, 100%, 68%);
  --Very-Dark-Blue: hsl(230, 29%, 20%);
  --Dark-Grayish-Blue: hsl(230, 11%, 40%);
  --Grayish-Blue: hsl(231, 7%, 65%);
  --Light-Grayish-Blue: hsl(207, 33%, 95%);

  --bg-font: 3rem;
  --md-font: 1rem;
  --sm-font: 0.899rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 18px;
  overflow-x: hidden;
}

body {
  max-width: 1440px;
  padding-inline: 10%;
  padding-block: 1rem 8rem;
  margin: 0 auto;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px !important;
  width: 50%;
  height: 56%;
  background-color: var(--Light-Grayish-Blue);
  z-index: -1;
  border-radius: 0px 0px 0px 59px;
}
img {
  max-width: 100%;
}
p {
  font-size: var(--md-font);
}
/* ! header ======================= */
header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  margin-bottom: 6rem;
  position: relative;
}

header .navbar ul {
  display: flex;
  gap: 3rem;
}

header .navbar ul li:last-child {
  margin-left: 3rem;
  color: var(--Grayish-Blue);
}

header .navbar ul li:last-child a {
  color: var(--Grayish-Blue);
}

header .navbar ul li:last-child a:hover {
  border-color: var(--Grayish-Blue);
}

header .navbar a {
  color: var(--Very-Dark-Blue);
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: var(--sm-font);
  letter-spacing: 1px;
}

header .navbar a:hover {
  border-bottom: var(--Very-Dark-Blue) 1px solid;
}

header #navMenu {
  display: none;
}
/* ! hero ====================== */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero span {
  display: inline-block;
  background-color: var(--Very-Dark-Blue);
  color: var(--Light-Grayish-Blue);
  padding: 3px 10px;
  margin-right: 1rem;
  border-radius: 40px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
}

.hero h1 {
  margin-block: 1rem 2rem;
  font-size: var(--bg-font);
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  max-width: 20ch;
  line-height: 1.2;
  font-weight: 700;
}
.hero .desc {
  max-width: 27ch;
  color: var(--Dark-Grayish-Blue);
}

.hero p:first-of-type {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--Grayish-Blue);
}
.hero .cta-text {
  margin-top: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--Grayish-Blue);
}
.hero .cta {
  display: inline-block;
  background-color: var(--Red);
  color: var(--Light-Grayish-Blue);
  padding: 0.8rem 2rem;
  border-radius: 5px;
  margin-right: 1rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.hero .cta:hover {
  opacity: 80%;
}
.hero img {
  max-width: 200%;
}

@media (max-width: 1138px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 978px) {
  html {
    font-size: 12px;
  }

  .hero img {
    max-width: 160%;
  }
}

@media (max-width: 828px) {
  html {
    font-size: 18px;
  }

  header {
    margin-bottom: 5rem;
  }
  body::before {
    height: 66%;
  }
  .hero {
    grid-template-columns: 1fr;
    gap: 20%;
    padding-bottom: 2rem;
  }
  .hero .text-content {
    order: 1;
  }
  .hero img {
    max-width: 160%;
    order: -1;
  }
}

/* ! mobile navbar start ====================================== */

@media (max-width: 578px) {
  header #navMenu {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 10vh;
    left: 0px;
    right: 0px;
    height: fit-content;
    background-color: white;
    display: none;
    box-shadow: 0px 8px 30px -4px rgb(169, 168, 168);
  }

  .navbar.show {
    display: block;
  }
  header .navbar ul {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }

  header .navbar ul li:last-child {
    border-top: var(--Grayish-Blue) 1px solid;
    margin-left: 0px;
    padding-top: 2rem;
  }

  .navbar li a {
    font-size: 1.5rem;
  }
  html {
    font-size: 12px;
  }
}

/* ! mobile navbar end  ====================================== */
@media (max-width: 375px) {
  body {
    padding: 16px 16px 20px 16px;
  }
  html {
    font-size: 10px;
  }
  .hero img {
    max-width: 140%;
  }

  .hero .cta {
    margin-bottom: 8rem;
  }
}
@media (max-width: 305px) {
  html {
    font-size: 8px;
  }
}
